<app-loading></app-loading>

<form [formGroup]="heroeForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="filter-input" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input
      matInput
      type="text"
      id="name"
      class="form-control"
      formControlName="name"
      required
      appToUpperCase
    />
  </mat-form-field>

  <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-text">
    <div *ngIf="name?.errors?.required">El campo es obligatorio</div>
    <div *ngIf="name?.errors?.minlength">El campo debe de tener al menos 4 caracteres</div>
  </div>

  <div>
    <button mat-raised-button (click)="cancelForm($event)">Cancelar</button>

    <button
      class="save-button"
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="!heroeForm.valid"
    >
      Guardar
    </button>
  </div>
</form>
