table {
  width: 100%;
  margin-bottom: 2rem;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .buttons-container {
    flex: 0 0 80%;
  }

  .filter-input {
    flex: 0 0 20%;
  }
}

button {
  &.edit,
  &.delete {
    margin-left: 1rem;
  }
}

.not-heroes-found {
  display: block;
  text-align: center;
  margin-top: 3rem;
}

app-form {
  margin-bottom: 3rem;
  display: block;
}

.mat-column-checkbox {
  width: 50px;
}
