<app-loading></app-loading>

<ng-container *ngIf="displayedHeroes !== undefined">
  <app-form *ngIf="displayForm" (heroeSaved)="getHeroes($event)" [heroe]="heroeToEdit"> </app-form>

  <div class="options-container" *ngIf="!displayForm">
    <div class="buttons-container">
      <button mat-raised-button color="primary" class="new" (click)="newHeroe()">
        Nuevo Héroe
      </button>

      <button
        mat-raised-button
        color="accent"
        class="edit"
        [disabled]="!someHeroesChecked"
        (click)="editHeroe()"
      >
        Editar Héroe
      </button>

      <button
        mat-raised-button
        color="warn"
        class="delete"
        [disabled]="!someHeroesChecked"
        (click)="deleteSelectedHeroe()"
      >
        Eliminar Héroe
      </button>
    </div>

    <mat-form-field class="filter-input" appearance="fill">
      <mat-label>Filtrar por nombre</mat-label>
      <input matInput value="" (change)="filterHeroes($event)" (keyup)="filterHeroes($event)" />
    </mat-form-field>
  </div>

  <div *ngIf="displayedHeroes.length === 0" class="not-heroes-found">
    No se ha encontrado ningún héroe para los carácteres introducidos.
  </div>

  <table
    *ngIf="displayedHeroes.length > 0 && !displayForm"
    mat-table
    [dataSource]="displayedHeroes"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          class="example-margin"
          (change)="checkboxChanged(element.id)"
          [checked]="element.checked"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    *ngIf="displayedHeroes.length > 0 && !displayForm"
    [length]="heroes.length"
    [pageSize]="paginatorSize"
    [pageSizeOptions]="[5, 10, 25]"
    (page)="handlePageEvent($event)"
  >
  </mat-paginator>
</ng-container>
