<h2 mat-dialog-title>Eliminación de Héroe</h2>
<mat-dialog-content class="mat-typography">
  <h3>¿Estás seguro?</h3>
  <p>Pulsa confirmar para eliminar el héroe seleccionado</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Confirmar</button>
</mat-dialog-actions>
