<p class="centered-paragraph">
  Aplicacion para gestionar héroes, permite crear editar y eliminar un listado de héroes
</p>

<button mat-raised-button color="primary" [routerLink]="['/heroes']" class="continue-button">
  Continuar
</button>
